<main>
  <table>
      <thead>
          <tr>
              <th>#</th>
              <th>Bus No.</th>
              <th>Bus Name</th>
             
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>5001</td>
              <td>Economy</td>
              
              <td>
                  <div class="action-buttons">
                      <button class="edit-btn">Edit</button>
                      <button class="delete-btn">Delete</button>
                  </div>
              </td>
          </tr>
          <tr>
              <td>2</td>
              <td>5002</td>
              <td>Express</td>
              
              <td>
                  <div class="action-buttons">
                      <button class="edit-btn">Edit</button>
                      <button class="delete-btn">Delete</button>
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
</main>