<main>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Terminal</th>
        <th>City</th>
        <th>Province/State</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>terminal 1</td>
        <td>Vijayawada</td>
        <td>Andhra Pradesh</td>
        <td>
          <div class="action-buttons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Marthahalli</td>
        <td>Banglore</td>
        <td>Karnataka</td>
        <td>
          <div class="action-buttons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</main>
