<main>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Pravanya</td>
        <td>admin</td>
        <td>Super Admin</td>
        <td>
          <div class="action-buttons">
            <button class="edit-btn">Edit</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Alex</td>
        <td>alex</td>
        <td>admin</td>
        <td>
          <div class="action-buttons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>John</td>
        <td>john</td>
        <td>customer</td>
        <td>
          <div class="action-buttons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</main>
