<main>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Ref. No.</th>
        <th>Name</th>
        <th>Qty</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>5001201</td>
        <td>John</td>
        <td>2</td>
        <td>500</td>
        <td>Unpaid</td>
        <td>
          <div class="action-buttons">
            <button class="edit-btn">Edit</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>5001202</td>
        <td>Alex</td>
        <td>4</td>
        <td>800</td>
        <td>Unpaid</td>
        <td>
          <div class="action-buttons">
            <button class="edit-btn">Edit</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</main>
