<main>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Bus</th>
        <th>Location</th>
        <th>Departure</th>
        <th>ETA</th>
        <th>Availability</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Sep 11, 2020</td>
        <td>5001 | Economy</td>
        <td>Sample Terminal, Sample City</td>
        <td>04:00 PM</td>
        <td>Sep 12, 2020 - 02:00 AM</td>
        <td>30</td>
        <td>250</td>
        <td>
          <div class="action-buttons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Sep 12, 2020</td>
        <td>5001 | Economy</td>
        <td>South Sample Terminal, South City</td>
        <td>02:45 AM</td>
        <td>05:00 AM</td>
        <td>30</td>
        <td>250</td>
        <td>
          <div class="action-buttons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</main>
